<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <meta http-equiv="pragma" content="no-cache" />
        <title>Story 1 - Amzu</title>
    </head>
    <!-- Start of page content -->
    
    
    <!-- Text landing -->
    <body>
        <div class="con>tainer">
            <img src="{% static 'assets/foto-amzu.jpg' %}" class="profile-photo">
            <div class="biodata">
                <h1>Biodata</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td>: Ammar M. Zufar</td>
                        </tr>
                        <tr>
                            <td>Tempat & Tanggal Lahir</td>
                            <td>: Surabaya, 23 September 2001</td>
                        </tr>
                        <tr>
                            <td>NPM</td>
                            <td>: 1906308223</td>
                        </tr>
                        <tr>
                            <td>Angakatan</td>
                            <td>: Maung 2019</td>
                        </tr>
                        <tr>
                            <td>Kuliah</td>
                            <td>: Ilmu Komputer UI</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>: amzufar@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Hobi</td>
                            <td>: Musik</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="deskripsi-diri">
                <h1>Deskripsi Diri</h1>
                <p>Sebutir debu yang suka halu, salam kenal aku Ammar!</p>
            </div>
        
            <div class="riwayat-pendidikan">
                <h1>Riwayat Pendidikan</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>2007-2011</td>
                            <td>SD Sunan Bonang</td>
                        </tr>
                        <tr>
                            <td>2011-2013</td>
                            <td>SD Islam Raudhah</td>
                        </tr>
                        <tr>
                            <td>2013-2016</td>
                            <td>SMPN 8 Tangerang Selatan</td>
                        <tr>
                            <td>2016-2019</td>
                            <td>SMAN 2 Tangerang Selatan</td>
                        </tr>
                        <tr>
                            <td>2019-Sekarang</td>
                            <td>Ilmu Komputer UI</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="sosial-media">
                <h1>Contacts</h1>
                <table>
                    <tr>
                        <td>
                            <a href="https://twitter.com/Amzufar">
                                <img src="{% static 'assets/icon-twitter.png' %}" class="icon-sosmed">
                            </a>
                        </td>
                        <td>
                            <a href="mailto: amzufar@gmail.com">
                                <img src="{% static 'assets/icon-gmail.png' %}" class="icon-sosmed">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </body>    
</html>
